export NEO4J_HOST=neo4j://127.0.0.1
export NEO4J_USER=neo4j
export NEO4J_PASSWORD=neo4j
export NEO4J_PORT=7687
export NEO4J_HTTP_PORT=7474
export NEO4J_HTTPS_PORT=7473

export MONGO_URL=mongodb://root:mongopass@localhost:27017/
export GPLACES_API_KEY=AIzaSyAPUn2r10zmq_JEauPmsFWINsWk4avl3cc
